.wholebody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.userinfo {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 20px;
  margin-bottom: 20px;
  width: 50%;
}

.collections {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 20px;
  width: 50%;
}

.btn-primary {
  background-color: #fa8748;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #f36f21;
}

.success-message {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 90%;
  margin-left: 5%;
}

.error-message {
  background-color: #dc3545;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 90%;
  margin-left: 5%;
}

/* List styling for books */

.collections ul {
  list-style: none;
  padding: 0;
}

.collections ul li {
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
}

.collections li b {
  font-weight: bold;
}